<div class="footer">
  <div class="footer-container">
    <div class="row top-row pb-2 d-flex justify-content-between">
      <div class="d-flex">
        <%= image_tag 'logo-white.png' %>
        <div class="d-flex align-items-center">
          @ B-PAYMENTS 2021, from Paris with &nbsp<i class="far fa-heart"></i>&nbsp to our users!
        </div>
      </div>
      <div class="d-flex">
        <div class="footer-partners d-flex justify-content-between align-items-center">
          <div class="chrome pr-2">
            b-payments for chrome <i class="fab fa-chrome"></i>
          </div>
          <div class="coinbase pl-2">
            coinbase
          </div>
        </div>
        <div class="footer-links">
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>