<div class="banner">
  <div class="background">
  </div>
  <div class="row p-5">
    <div class="col-9">
        <h1>THE SIMPLE PAYMENT SOLUTION</h1>
        <div class="banner-text">
        <p>Fast and secure way to pay with a chrome extension in cryptocurrency</p>
        </div>
        <button class="base-btn extension-btn">
          <a href="#">download the extension</a>
        </button>
    </div>
    <div class="people">
      <%= image_tag 'perso-banner.svg', class: "people-image" %>
    </div>
  </div>
  <div class="row">
    <div class="home-container">
    </div>
  </div>
</div>