<div class="banner">
  <div class="row p-5">
    <div class="col-9">
        <h1>THE SIMPLE PAYMENT SOLUTION</h1>
        <div class="banner-text">
        <p>Fast and secure way to pay with a chrome extension in cryptocurrency</p>
        </div>
        <button class="base-btn extension-btn">
          <a href="#">Download the extension</a>
        </button>
    </div>
    <div class="people">
      <%= image_tag 'perso-banner.svg', class: "people-image" %>
    </div>
  </div>
</div>

<div class="row p-5">
  <div class="home-container text-center">
    <h1>How it <span class="surligne">works</span></h1>
    <div class="row">
      <div class="col-4">
        <%= image_tag 'easy.svg', class: "coinbase-logo" %>
        <h3>Easy</h3>
        <p class="m-0">Use the extension whenever you're shopping</p>
      </div>
      <div class="col-4">
        <%= image_tag 'instantly.svg', class: "coinbase-logo" %>
        <h3>Instant</h3>
        <p class="m-0">B-payments extension allows you to pay instantly</p>
      </div>
      <div class="col-4">
        <%= image_tag 'secure.svg', class: "coinbase-logo" %>
        <h3>Secure</h3>
        <p class="m-0">B-payments makes sure your data stays safe</p>
      </div>
    </div>
  </div>
</div>