*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contact-box {
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: center;
  background-color: #fff;
}

.right {
  padding: 25px 40px;
}

h3{
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
}

.field{
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: .3s;
}

.field:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

textarea{
  min-height: 150px;
}

.btncontactform{
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: black;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .3s;
}

.btncontactform:hover{
    background-color: #FEDA00;
}


@media screen and (max-width: 880px){
  .contact-box{
    grid-template-columns: 1fr;
  }
  .left{
    height: 200px;
  }
}

.perso {
  display: flex;
  justify-content: flex-end;
  width: 60%;
  position: absolute;
  right: 0px;
  bottom: -80px;
}

.perso-ordi {
  width: 200px;
}

@media(max-width: 992px) {
  .perso-ordi {
    width: 300px;
  }
}
