h2 {
  font-size: 50px;
  margin: 50px 0;
  color: white;

  span {
    background-color: black;
    padding-right: 8px;
    padding-left: 8px;
  }
}

h3 {
  font-size: 30px;
  margin: 30px 0;
  font-weight: 700;
}


