.navbar-lewagon {
  position: absolute;
  top: 0;
  width: 100%;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.navbar-toggler-icon  {
  width: 40px;
  height: 35px;
}

.fa-bars {
 font-size: 30px !important;
}

.dropdown-toggle::after {
  border-top: none;
}